
#################################################################
# Customize your image  
#################################################################

# https://www.astronomer.io/docs/getting-started/

# Add DAGs in the dags directory
# Add custom airflow plugins in the plugins directory
# Python packages can go in requirements.txt. By default, you get all the python packages required to run airflow.
# OS level packages can go in packages.txt
# Any envrionment variable overrides can go in Dockerfile (note: with Astronomer 0.7, you can also inject #env vars directly through the UI)


numpy
pandas 
scipy
httplib2
google-api-python-client
oauth2client
google-cloud-storage
google-cloud-monitoring
google-cloud-vision
grpcio